@font-face {
    font-family: font;
    src: url(k2dreg.ttf);
}
.container{
    color:#283044;
    font-family: font;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
.center-text{
    text-align: center;
}

.center-div{
    width: 200px;
    height: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    

}

